In [15]:
import mysql.connector as connector

try:
    connection = connector.connect(
        user="projekt",
        password="******",  
        db="LittleLemonDB"
    )
    print("Successfully connected with LittleLemonDB!")
except connector.Error as e:
    print(f"Błąd: {e}")

Successfully connected with LittleLemonDB!

In [16]:
cursor = connection.cursor()
print("Cursor created!")

Cursor created!

In [4]:
cursor.execute("SHOW TABLES")

results = cursor.fetchall()

print("List of tables in LittleLemonDB:")
for table in results:
    print(table)

List of tables LittleLemonDB:
('Bookings',)
('Customers',)
('Delivery',)
('Menu',)
('Orders',)
('ordersview',)
('Staff',)

In [21]:

join_query = """
SELECT 
    c.FullName, 
    c.ContactNumber, 
    c.Email, 
    o.TotalCost
FROM Customers AS c
INNER JOIN Bookings AS b ON c.CustomerID = b.CustomerID
INNER JOIN Orders AS o ON b.BookingID = o.BookingID
WHERE o.TotalCost > 60;
"""


cursor.execute(join_query)


results = cursor.fetchall()

print("Clients with Total cost over $60:")

print(f"{'Full Name':<25} | {'Contact Number':<15} | {'Email':<25} | {'Total Cost'}")
print("-" * 75)

for row in results:
    print(f"{row[0]:<25} | {row[1]:<15} | {row[2]:<25} | ${row[3]}")

Clients with Total cost over $60:
Full Name                 | Contact Number  | Email                     | Total Cost
---------------------------------------------------------------------------
Vanessa McCarthy          | 111111          | vanessa@example.com       | $250.00
Vanessa McCarthy          | 111111          | vanessa@example.com       | $200.00
Vanessa McCarthy          | 111111          | vanessa@example.com       | $100.00